<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>folder-administration</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>



	<section class="my-5">
		<div class="container">
			<div class="row">
				<div class="col-md-8 mx-auto">
					<h2>Upload File</h2>

					<p th:text="${message}" th:if="${message ne null}"
						class="alert alert-primary"></p>
					<form method="post" th:action="@{/upload}"
						enctype="multipart/form-data">
						<div class="form-group">

							<input type="file" name="file" class="form-control-file">
							<input type="text" name="documentName" class="form-control-file">
							<input type="hidden" th:value="${folder.id}" name="folderId" />
						</div>
						<button type="submit" class="btn btn-primary">Upload File</button>
					</form>

					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon"><i class=""></i></span>
						
						
						
						
						<div>
							<th:block th:each="document: ${folder.documents}">
								<a th:href="@{/download/(id=${document.id})}"> <br>
									[[${document.name}]]
								</a>
						</div>
						<br />
						</th:block>




					</div>
				</div>
			</div>
		</div>
	</section>
	
	<form th:action="@{/validate-step}" method="POST">
		<input type="hidden" th:value="${folder.id}" name="folderId" />
		<input type="submit" value="Validate step " /> (actual step: [[${folder.step_no}]])

	</form>

	<hr>

	<a th:href="@{/}">Back to Home Page</a>

	<br>
	<br>

	<form th:action="@{/logout}" method="POST">

		<input type="submit" value="Logout" />

	</form>

</body>
</html>