<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>Successfully Home Page</title>
</head>

<body>
	<h2>Successfully Signed Home Page</h2>
	<hr>

	<p>Welcome to Successfully Signed!</p>

	<hr>

	<!-- display user name and role -->

	<div>
		User: <span sec:authentication="name"></span> <span
			sec:authentication="name"></span> <br> <br> Role: <span
			sec:authentication="principal.authorities"></span> <br> <br>

		<!-- Check for login error -->
		<div th:if="${session.user}">
			<p
				th:text="'First name: ' + ${session.user.firstName} + ', Last name: ' + ${session.user.lastName} + ', Email: ' + ${session.user.email}"></p>
		</div>
	</div>

	<div sec:authorize="hasRole('ROLE_NATURAL_PERSON')">


		<p>
			<a th:href="@{/new-folder}">New folder</a> (Only for natural people)
			<br>
			<br> <a th:href="@{/my-folders}">My folders</a> (Only for
			natural people)

		</p>

	</div>

	<div sec:authorize="hasRole('ROLE_JURIDICAL_ENTITY')">

		<!-- Add a link to point to /systems ... this is for the admins -->

		<p>
			<a th:href="@{/new-service}">New Service</a> (Only for juridical
			entities) <br>
			<br> <a th:href="@{/my-services}">My Services</a> (Only for
			juridical entities)
		</p>

	</div>

	<hr>


	<!-- Add a logout button -->
	<form th:action="@{/logout}" method="POST">

		<input type="submit" value="Logout" />

	</form>

</body>

</html>









