<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Upload</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>



	<section class="my-5">
		<div class="container">
			<div class="row">
				<div class="col-md-8 mx-auto">
					<h2>Upload File</h2>


					<p th:text="${step.documentName}" />

					<p th:text="${message}" th:if="${message ne null}"
						class="alert alert-primary"></p>
					<form method="post" th:action="@{/upload}"
						enctype="multipart/form-data">
						<div class="form-group">

							<input type="file" name="file" class="form-control-file">
							<input type="hidden" th:value="${folder.id}" name="folderId" />
							<input type="hidden" th:value="${step.documentName}"
								name="documentName" />
						</div>
						<button type="submit" class="btn btn-primary">Upload File</button>
					</form>

					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon"><i class=""></i></span>

						<div>
							<th:block th:each="document: ${folder.documents}">
								<a th:href="@{/download/(id=${document.id})}"> <br>[[${document.name}]]

								</a>
						</div>
						<br />
						</th:block>



					</div>
					
											<br>
						<br>
						<h2>Check Signatures</h2>

						<form method="post" th:action="@{/signatures-validation}"
							enctype="multipart/form-data">
							<div class="form-group">

								<select class="form-control" th:field="*{crmSign.documentId}"
									id="dropDownList">
									<option value="0">select a document</option>
									<option th:each="option : ${folder.documents}"
										th:value="${option.id}" th:text="${option.name}"></option>
								</select>


							</div>
							<button type="submit" class="btn btn-primary">Check
								Signatures</button>
						</form>
						
				</div>
			</div>
		</div>
	</section>

	<hr>

	<a th:href="@{/}">Back to Home Page</a>

	<br>
	<br>

	<form th:action="@{/logout}" method="POST">

		<input type="submit" value="Logout" />

	</form>

</body>
</html>